.cssSection {
    position: relative;
    height: 60vh;
}

.butterfly, .planet, .tada {
    position: absolute;
    font-size: 75px;
    animation: rotate 3s ease infinite;
}

.butterfly {
    top: 25%;
    left: 25%;
}

.planet {
    top: 40%;
    left: 50%;
}

.tada {
    top: 35%;
    left: 75%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}