.cssSection {
    position: relative;
    height: 60vh;
}

.confetti, .heart, .lettuce {
    position: absolute;
    font-size: 75px;
}

.confetti {
    top: 25%;
    left: 15%;
}

.heart {
    top: 20%;
    left: 45%;
}

.lettuce {
    top: 35%;
    left: 75%;
}
